{{ header }}
    <p>
        <img src="./EricLajoie2014.jpg">
        <img src="./qr.png" width=250px height=250px>
        <ul>
            <li>Website: <a href="http://ericlajoie.com">http://ericlajoie.com</a></li>
            <li>Email: <a href="mailto:elajoie@ericlajoie.com">elajoie@ericlajoie.com</a></li>
            <li>Mobile: +49 (0) 162 282 5019</li>
            <li>Download Vcard: <a href="EricLajoie.vcf" download="EricLajoie.vcf">EricLajoie.vcf</a></li>
        </ul>
    </p>
{{ footer }}