{{ header }}	
<article>
    <header>
        <time datetime="2013-04-23" pubdate>
            <span>Apr</span> 23
        </time>
        <h1>
            <a href="#" title="Link to this post" 
rel="bookmark">3GPP EPC IPv6 Design</a>
        </h1>
    </header>
    <p>This HOWTO assumes you have IPv4 understanding and EPC design experience. First we need to 
		understand how the IPv6 addresses are assigned and used in a general sense. Once we have a 
		good idea of the mechanics we need to differentiate between transport/control plane and user 
		plane and how 3GPP decided to do it with PGW.
		References used to create this content involve:
		<a href="http://books.google.com/books?isbn=0132808188">Google Book Link</a></p>
	
		<p>The transport & control plane makes up your S1, S5, S6a, S10, S11, and S13 along with all the links in EPC.
		<insert diagram>
		User plan is the MS/UE’s IP interface and anything from SGi downwards to internet.</p><br>

    <section>
        <header>
            <h1>IPv6 Address Lifecycle</h1>
        </header>
	<p>IPv6 hosts usually operate with multiple addresses per interface, and each address has a 
	set of timers indicating how long and for what purposes the corresponding address can be used. 
	In IPv6, addresses are assigned with a preferred lifetime and valid lifetime. These lifetimes 
	are used to form timeouts that move an address from one state to another in an address’s state machine.</p>
	<br>
	<img src="./4.jpg" alt="IPv6 Life Cycle">
	<br>
	<p>The above figure shows the life cycle of an IPv6 address. An address is in the preferred state 
	when it is available for general use and is available as either a source or destination IPv6 address. 
	A preferred address becomes deprecated when its preferred timeout occurs. When it becomes deprecated, 
	it may still be used for existing transport (e.g., TCP) connections but is not to be used for 
	initiating new connections. When an address is first selected for use, it enters a tentative or 
	optimistic state. When in the tentative state, it may be used only for the IPv6 Neighbor 
	Discovery protocol. It is not used as a source or destination address for any other purposes. 
	While in this state the address is being checked for duplication, to see if any other nodes on 
	the same network are already using the address. The procedure for doing this is called duplicate 
	address detection (DAD) and is described in more detail in ICMPv6 section below. An alternative to 
	conventional DAD is called optimistic DAD [<a href="http://www.ietf.org/rfc/rfc4429.txt">RFC4429</a>], 
	whereby a selected address is used for a 
	limited set of purposes until DAD completes. Because an optimistic use of an address is really 
	just a special set of rules for DAD, it is not a truly complete state itself. Optimistic addresses 
	are treated as deprecated for most purposes. In particular, an address may be both optimistic and 
	deprecated simultaneously, depending on the preferred and valid lifetimes.</p><br>
	</section>
	
	<section>
	<header>
		<h1>Interface Identifiers</h1>
	</header>
	
	<p>EUI = Extended Unique Identifier
	<br>OUI = Organizationally Unique Identifier (maintained by IEEE registration authority)
	<br>IID = Interface Identifier</p>
	
	<p>Link-local and some global addresses use IIDs in the last 64 bit portion of the IPv6 address.  
	IIDs are typically formed from the link-layer MAC address via modified 
	<a href="http://standards.ieee.org/develop/regauth/tut/eui64.pdf">EUI-64</a> format or a 
	randomized process typically seen in Apple operating systems today.</p>

    <p>EUI-64 (non-modified method) consists of a 24 bit OUI allocated by IEEE-RA 
	followed by 40 bit extended identifier typically set by the manufacturer/organization. 
	Many IEEE standard compliant interfaces like Ethernet use EUI-48 format (MAC addresses) 
	where you only have 24 bits after the OUI.</p>

    <p>In both EUI-64 and EUI-48 format you will have the u bit and g bit as show in the figure 
	below. The u bit represents if it’s universally administered (0) or locally administered (1) 
	and the g bit represents if it’s an individual (0) or group/multicast-type (1) address.</p>
	<br>
	<img src="./5.jpg" alt="EUI">
	<br>
	<p>Now the modified EUI-64 format is a EUI-48 that’s been modified into a EUI-64 type IID. 
	The process involved setting the u bit to 1 to represent locally administered and inserting 
	FFFE in the middle of the 6 bytes of EUI-48. For example if you have 00.11.22.33.44.55 you 
	would change the 00 to 02 since the u bit is set to 1 and between 22 and 33 you would insert 
	FF.FE which results in 02.11.22.FF.FE.33.44.55. This is your modified EUI-64 address. 
	Note the g bit stays untouched as 0 for link-local addresses.<br>
 
	Other great reference: <a href="http://en.wikipedia.org/wiki/IPv6_address">http://en.wikipedia.org/wiki/IPv6_address</a><br>
	
	</section>	
	
	<section>
        <header>
            <h1>ICMPv6 Basics</h1>
        </header>
	<p>TBD</p><br>
	</section>
	
	<section>
        <header>
            <h1>DHCPv6 Basics</h1>
        </header>
	<p>DHCPv6(<a href="http://www.ietf.org/rfc/rfc3315.txt">RFC3315</a>) messages are encapsulated as UDP/ IPv6 datagrams, with client port 
	546 and server port 547. Messages are sent using a host’s link-scoped source address 
	to either relay agents or servers. There are two message formats, one used directly 
	between a client and a server, and another when a relay is used.</p>
	<br>
	<img src="./6.jpg" alt="DHCPv6">
	<br>
	<p><b>Stateful</b>
	<br>Works like DHCPv4 where address and all options are sent.
	<br><b>Stateless</b>
	<br>In the stateless mode, IPv6 clients are assumed to self-configure their IPv6 
	addresses but require additional information (e.g., DNS server address) obtained using 
	DHCPv6. Another option exists for deriving the location of a DNS server using ICMPv6 
	Router Advertisement messages via (<a href="http://www.ietf.org/rfc/rfc6106.txt">RFC6106</a>).</p>
	</section>
	
	<section>
        <header>
            <h1>Control & Transport Plane</h1>
        </header>
	<p>IPv6 assignments to services and interfaces along with OSPFv3 and BGP for IPv6.</p><br>
	</section>
	
	<section>
        <header>
            <h1>User Plane</h1>
        </header>
	<p>Setting required to do dual stack.</p><br>
	</section>
	
	<section>
        <header>
            <h1>Conclusion and Thoughts</h1>
        </header>
	<p>how to migrate to IPv6 form IPv4</p>
	<a href="./DualStackEPC.zip">Download Traces for entire EPC Call</a>
	</section>
	
</article>
{{ footer }}