{{ header }}
{% for a in pages.articles %}
<article>
	<header>
		<time datetime="{{ a.longdate }}" pubdate>
			<span>{{ a.date }}</span>
		</time>
		<h1>
			<a href="./{{ a.name }}.html" title="Link to this post" rel="bookmark">{{ a.longname }}</a>
		</h1>
	</header>
	<p>
	    {{ a.details }}
	</p>
</article>
{% endfor %}
{{ footer }}